<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DragNavigationController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A04EC9C11CF093B90035EAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04EC9D51CF093B90035EAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04EC9E01CF093B90035EAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
